# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=Media\Ogre\packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=Media\Ogre\fonts
FileSystem=Media\Ogre\materials/programs
FileSystem=Media\Ogre\materials/scripts
FileSystem=Media\Ogre\materials/textures
FileSystem=Media\Ogre\models
FileSystem=Media\Ogre\overlays
FileSystem=Media\Ogre\particle
FileSystem=Media\Ogre\gui


[OgreBullet]
FileSystem=Media\OgreBullet
